body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.head{
    display: flex;
    position: relative;
    justify-content: center;
}

.line{
    width: 80%;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container {
    padding: 50px 20px;
}

.container h1 {
    font-size: 36px;
}

.container h2 {
    font-size: 24px;
}

.container p {
    font-size: 18px;
    margin-bottom: 40px;
}

.button {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 20px;
}

.th-box {
    display: flex;
    margin-top: 50px;
    position: absolute;
    align-items: center;
    right:  0;
    margin: 10px;
}

#th-toggle {
    width: 30px;
    height: 30px;
}

.giant-icon {
    font-size: 10em;
    position: relative;
}
/* Animation à l’ouverture */
@keyframes rotateIn {
  from {
    transform: rotateY(360deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.fa-code {
  display: inline-block;
  animation: rotateIn 1s ease-out;
  transition: transform 0.5s ease;
}

/* Rotation au survol */
.fa-code:hover {
  transform: rotate(360deg);
}
.ft-dec{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr 1fr;
   justify-content: center;
   justify-items: center;
   align-items: center;
   height: 100%;
}

.img-dec{
    max-width: 180px;
    border-radius: 30px;
}

#dec1{
    grid-column: 2/3;
    grid-row: 1/2;
}
#dec2{
    grid-column: 1/2;
    grid-row: 2/3;
}
#dec3{
    grid-column: 2/3;
    grid-row: 3/4;
}
#dec4{
    grid-column: 1/2;
    grid-row: 1/2;
}
#dec5{
    grid-column: 2/3;
    grid-row: 2/3;
}
#dec6{
    grid-column: 1/2;
    grid-row: 3/4;
}


